sudo: required
services:
  - docker

before_install:
  - docker build -t om21/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true om21/react-test npm test -- --coverage

after_success:
  - docker build -t om21/multi-client ./client
  - docker build -t om21/multi-nginx ./nginx
  - docker build -t om21/multi-server ./server
  - docker build -t om21/multi-worker ./worker


  # login to docker CLI
  - echo "$docker_password" | docker login -u "$docker_id" --passowrd-stdin
  # Take images and push images to docker hub 
  - docker push om21/multi-client
  - docker push om21/multi-nginx
  - docker push om21/multi-server
  - docker push om21/multi-worker
